/* -----header----- */
header{width: 1280px;
        
        /* border:2px solid red; */
        margin:0 auto;
        padding: 40px 0 55px 44px
    }

header a img{ margin-right: 65px;
            vertical-align: middle;
            /* margin-left: 44px; */
        }
nav{display: inline-block;}
li{display: inline-block;
        margin-right: 90px;
        vertical-align: middle;
        font-family: 'Noto Serif NP Hmong';
        font-weight: 300;
        color: #7f7f7f;
        font-size: 18px;
    }


li img{margin-left: 50px;
    column-rule-color: #7f7f7f;}


/*---- section----- */

section{width: 1280px;
        background-color:#306b34;
        margin: 0 auto;
        padding: 174px 0 152px 0}

section img{margin-left: 95px;
            margin-right: 89px;}

div{width: 307px;
    display: inline-block;
    vertical-align: top;}

div h2{font-size: 40px;
        font-weight: 300;
        color:#19381f ;
        font-family: 'Noto Serif NP Hmong';}
div p{ font-size: 20px;
        font-weight: 300;
        color:#f4f4f1 ;
        margin-top: 59px;
        font-family: 'Noto Serif NP Hmong';
        font-style: italic;}

 /*------article----- */

article{width: 1280px;
        padding:88px 137px 150px 184px;
            margin:0 auto;
            text-align: center;}

 article h2{ font-size:40px;
    font-family: 'Noto Serif NP Hmong';
        color: #36413e;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 72px;
    }

 article p{font-size:20px;
    font-family: 'Noto Serif NP Hmong';
        color: #7f7f7f;
        font-style: italic;
        font-weight: 100;
        width: 959px;}

/* -----footer------ */

footer{width: 1280px;
        background-color: #306b34;
        margin:0 auto;
        padding: 25px 110px  23px 75px;
        }


.p1{
    margin-right: 699px;
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f1;
    font-family: 'Noto Serif NP Hmong';
    vertical-align: middle;
    display: inline-block;
    }

.p2{ 
    font-size: 12px;
    font-weight: 100;
    color: #f4f4f1;
    font-family: 'Noto Serif NP Hmong';
    vertical-align: middle;
    display: inline-block;
    }


            
